* {
    box-sizing: border-box;
}
body {
    margin: 0;
}
.screen {
    display: flex;
    height: 100vh;
}
.leftside {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}
.leftside img {
    max-width: 500px;
    height: auto;
}
.rightside {
    width: 400px;
    background-color: #d9fbe2;
    padding: 50px;
}
.rightside label {
    display: block;
    margin-bottom: 20px;
}
.rightside input {
    width: 100%;
    border: 1px solid #06fe02;
    border-radius: 6px;
    padding: 8px;
    font-size: 13px;
    outline: 0;
}

.error {
    font-size: 11px;
    background-color: #FF0000;
    color: #FFF;
    padding: 4px;
    border-radius: 5px;
}

@media (max-width: 910px) {
    .leftside img {
        display: none;
        max-width: 350px;
        height: auto;
    }
    .rightside {
        width: 400px;
        background-color: #eff1f2;
        padding: 50px;
    }
}

@media (max-width: 590px) {
    .leftside img {
        display: none;
    }
    .rightside {
        width: 300px;
        background-color: #f0f3f4;
        padding: 50px;
    }
}

